body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.body-main-1 {
    background: #1F2937;
    padding: 0px 160px 0px 160px;
    padding-bottom: 96px;
}

nav {
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
    align-items: center;
}

.logo-main-1 a {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header-links a,
.left p{
    font-size: 18px;
    color: #b9b9b9;
}

.header-links ul {
    display: flex;
    gap: 20px;
}

.main1 article {
    margin-top: 120px;
}

.main1 section {
    display: flex;
}

.left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 400px;
    margin: 0;
}

.left p {
    max-width: 450px;
}

.placeholder-grey {
    width: 550px;
    height: 241px;
    background-color: #6c7781; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9b9b9;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.left button {
    background-color: #3882F6;
    height: 32px;
    width: 120px;
    color: white;
    border: none;
    border-radius: 8px;
}

.main2 article h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}   

.main2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.main2 .container .box {
    border: 4px solid #3882F6;
    border-radius: 12px;
    height: 150px;
    width: 150px;
}

.main2 .container-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
}

.main2 {
    padding-bottom: 96px;
}

.main3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px;
}

.main3 .quote {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
}

.main3 .thor {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.main3 .container {
    max-width: 800px;
}